@{
    ViewData["Title"] = "Home Page";
}
<!--Adding Picture-->
<div class="text-center">
    <h1 class="display-4">Welcome To The Joel Hilton Film Collection</h1>
</div>
<div>
    <img src="~/images/JoelHiltonHeadshot.jpg" class="center"/>
</div>
