@{
    ViewData["Title"] = "Podcast Page";
}
<!--Adding button with a link-->
<link rel="stylesheet" href="~/css/Link.css" />
<div class="Bbody">
    <button class="button" onclick="window.location.href = 'https://baconsale.com/';">
        Click here to see my Podcast!
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
    </button>
</div>

